<script>
        // fix view height for mobile screens
        function ciVh() {
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);
        }
        ciVh();
        window.addEventListener('resize', ciVh);

        // check if container is in viewport
        function isIsInViewport(el) {
          const {top,bottom} = el.getBoundingClientRect();
          const vHeight = (window.innerHeight || document.documentElement.clientHeight);
          return ((top > 0 || bottom > 0) && top < vHeight);
        }

        function toggleViewportClass(el) {
          el.forEach(function(i) {
            if (isIsInViewport(i)) {
              i.classList.add("isInViewport");
            } else {
              i.classList.remove("isInViewport");
            }
          });
        }

        function toggleSectionContent(el) {
            let content = el.querySelector('.content');
            let overlay = el.querySelector('.overlay');

            if (header) {
                if(header.style.display == 'none') {
                    header.style.display = 'block';
                }
                else {
                    header.style.display = 'none';
                }
            }
            if (overlay) {
                if(overlay.style.display == 'none') {
                    overlay.style.display = 'block';
                }
                else {
                    overlay.style.display = 'none';
                }
            }
            if (content) {
                if(content.style.display == 'none') {
                    content.style.display = 'block';
                }
                else {
                    content.style.display = 'none';
                }
            }
        }

        function restoreSectionContent(el) {
          el.forEach(function(i) {
            if (!isIsInViewport(i)) {
              // restore hidden content and header if section is scrolled out of viewport
                toggleSectionContent(i);
                i.querySelectorAll('.clearframe')[0].classList.remove('active');
                i.classList.remove('contentIsHidden');
                i.style.height = '';
            }
          });
        }

        // pause bg video if section is out of the viewport
        function pauseBgVideos(el) {
          el.forEach(function(i) {
            if (isIsInViewport(i)) {
              i.play();
            } else {
              i.pause();
            }
          });
        }

        let sections = document.querySelectorAll('.c-section');
        let bgVideos = document.querySelectorAll('.bg-video');
        let frames = document.querySelectorAll('.frame');


        document.addEventListener('scroll', function() {
          let hiddenContentSections = document.querySelectorAll('.contentIsHidden');
          toggleViewportClass(frames);
          toggleViewportClass(sections);
          restoreSectionContent(hiddenContentSections);
          pauseBgVideos(bgVideos);
        }, {
          passive: true
        });

        // add isInViewport on page load
        window.addEventListener('DOMContentLoaded', (event) => {
          toggleViewportClass(frames);
        });

        // hide header and content if clear button is clicked */
        function hideSectionContentButton(el) {
          let parent = el.parentNode;
          let height = parent.offsetHeight;
          toggleSectionContent(el.parentNode);
          el.parentNode.classList.toggle('contentIsHidden');
          el.classList.toggle('active');
          if (el.parentNode.classList.contains('fullheight') && parent.classList.contains('contentIsHidden')) {
            parent.style.height = '';
          }
          if (parent.style.height) {
            parent.style.height = '';
          } else if (!parent.classList.contains('fullHeight')) {
            parent.style.height = height + 'px';
          }
          toggleViewportClass(frames);
        }

        // unmute/mute bg video sound
        function enableBgVideoSoundButton(el) {
          const video = el.parentNode.querySelectorAll('.bg-video')[0];
          const muted = el.parentNode.querySelectorAll('.bg-video')[0].muted;
          if (muted) {
            video.muted = false;
          } else {
            video.muted = true;
          }
          el.classList.toggle('active');
        }

    </script>
