<script type="text/javascript">

    <f:if condition='{data.tx_containeritems_siema_loop} && {children_101 -> f:count()} > 1'>
        <f:then>
            var looping<f:format.raw>{data.uid}</f:format.raw> = true;
        </f:then>
        <f:else>
            var looping<f:format.raw>{data.uid}</f:format.raw> = false;
        </f:else>
    </f:if>

    const cSiema{data.uid} = new Siema({
        selector: '#siema-<f:format.raw>{data.uid}</f:format.raw>',
        duration: 200,
        easing: 'ease-out',
        perPage: 1,
        startIndex: 0,
        draggable: true,
        multipleDrag: true,
        threshold: 20,
        loop:  looping<f:format.raw>{data.uid}</f:format.raw>,
        rtl: false,
        onInit: paginationUpdate,
        onChange: paginationUpdate,
    });
</script>
