.containerColumns {
  width: 100%;
}

.containerColumns>.col, .containerColumns>.space {
  float: left;
}

.containerColumns>.space {
  width: 5%;
  min-height: 1px;
}

.containerColumns-1-1>.col {
  width: 47.5%;
}

.containerColumns-1-1-1>.col {
  width: 30%;
}

.containerColumns-1-1-1-1>.col {
  width: 21.25%;
}

.containerColumns-2-1>.col:first-child {
  width: 65%;
}

.containerColumns-2-1>.col:last-child {
  width: 30%;
}

.containerColumns-1-2>.col:first-child {
  width: 30%;
}

.containerColumns-1-2>.col:last-child {
  width: 65%;
}

@media screen and (max-width: 740px) {
  .containerColumns>.col {
    width: 100% !important;
  }
  .containerColumns>.space {
    display: none;
  }
}
