.containerAccordion-item {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.containerAccordion-item:last-child {
    border-bottom: none;
}

.containerAccordion-title {
    font-size: 1.26em;
    padding: .72em 0;
    position: relative;
    outline: 0;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    padding-right: 3em;
    transition: all .3s;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

.containerAccordion-title:hover {
    cursor: pointer;
}

.containerAccordion-title::after, .containerAccordion-title::before {
    top: 1.26em;
    position: absolute;
    content: '';
    background: #fff;
    transition: all .3s;
}

.containerAccordion-title::before {
    height: 0.8em;
    width: 2px;
    right: 0.4em;
    margin-right: -1px;
    margin-top: -0.4em;
}

.containerAccordion-title::after {
    width: 0.8em;
    height: 2px;
    right: 0;
    margin-top: -1px;
}

.act .containerAccordion-title::before {
    transition: all .3s ease;
    height: 0;
    margin-top: 0;
}

.containerAccordion-content {
    transition: all .3s ease;
    overflow: hidden;
    max-height: 0;
}

.act .containerAccordion-content {
    max-height: var(--max-height);
}

.containerAccordion-content div:first-child header {
    display: none;
}
