.c-section {
    padding-top: 7em;
    padding-bottom: 7em;
    float: left;
    width: 100%;
    position: relative;
}

.c-section.bg0 {
    background-position: center center !important;
}

.c-section.bg1 {
    background-position: left top !important;
}

.c-section.bg2 {
    background-position: left center !important;
}

.c-section.bg3 {
    background-position: left bottom !important;
}

.c-section.bg4 {
    background-position: center top !important;
}

.c-section.bg5 {
    background-position: center bottom !important;
}

.c-section.bg6 {
    background-position: right top !important;
}

.c-section.bg7 {
    background-position: right center !important;
}

.c-section.bg8 {
    background-position: right bottom !important;
}

.c-section.fixed {
    background-attachment: fixed !important;
}

.c-section.has-bg-video {
    background-color: transparent !important;
    overflow: hidden;
}

.c-section .videobuttons {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-transform: uppercase;
    padding: 0.6em;
    font-size: 0.7em;
    line-height: 1em;
    position: absolute;
    bottom: 3.5em;
    right: 3.5em;
    width: auto;
    z-index: 3;
}

.c-section .videobuttons:hover {
    cursor: pointer;
}

.c-section .sound.hasclearframebutton {
    right: 7.5em;
}

.c-section .videobuttons svg {
    height: 1.5em;
    width: auto;
}

.c-section .sound .on, .c-section .clearframe .on {
    display: none;
}

.c-section .sound .off, .c-section .clearframe .off {
    display: block;
}

.c-section .sound.active .on, .c-section .clearframe.active .on {
    display: block
}

.c-section .sound.active .off, .c-section .clearframe.active .off {
    display: none
}

.c-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

.c-section .bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.c-section.bg1 .bg-video {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.c-section.bg2 .bg-video {
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.c-section.bg3 .bg-video {
    left: 0;
    top: 0;
    transform: none;
}

.c-section.bg4 .bg-video {
    top: 0;
    transform: translateX(-50%);
}

.c-section.bg5 .bg-video {
    top: 0;
    left: auto;
    right: 0;
    transform: none;
}

.c-section.bg6 .bg-video {
    left: 0;
    bottom: 0;
    top: auto;
    transform: none;
}

.c-section.bg7 .bg-video {
    bottom: 0;
    top: auto;
    transform: translateX(-50%);
}

.c-section.bg8 .bg-video {
    left: auto;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
}

.c-section.isInViewport.has-bg-video.fixed .bg-video {
    position: fixed;
    z-index: -1;
}

.c-section.valign-center.fullheight .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-section.valign-bottom.fullheight .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 7em;
}

.c-section .content {
    overflow: hidden;
}

.c-section.nopadding {
    padding: 0;
}

.c-section.fullwidth .content {
    max-width: 100%;
    padding: 0 6.5em;
    margin: 0;
    width: 100% !important;
}

.c-section.fullheight {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.c-section.align-center {
    text-align: center;
}

.c-section.align-right {
    text-align: right;
}

.c-section.align-center p, .c-section.align-center ol, .c-section.align-center ul, .c-section.align-center {
    margin: auto;
}

.c-section.align-right p, .c-section.align-right ol, .c-section.align-right ul, .c-section.align-right {
    margin-left: auto;
}

/* dark and light BG colors are set in template constants */
.c-section.bg-dark {
    -webkit-font-smoothing: antialiased;
}

.c-section.bg-black {
    background-color: #000 !important;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.c-section p, .c-section ol, .c-section ul {
    max-width: 41em;
}

/* custom section classes */
.c-section.home h1 {
    font-size: 5vw;
}

@media screen and (min-width: 1600px) {
    .c-section.home h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 1180px) {
    .c-section.home h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 1024px) {
    .c-section.fixed {
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 960px) {
    .c-section.valign-bottom.fullheight .content {
        margin-bottom: 4em;
    }

    .c-section {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

@media screen and (max-width: 680px) {
    .c-section.home h1, h1 {
        font-size: 2.3em;
        line-height: 1.2em;
    }
}

@media screen and (max-width: 520px) {
    .c-section .videobuttons {
        right: 2.5em;
        bottom: 2.5em;
    }

    .c-section .sound.hasclearframebutton {
        right: 6em;
    }
}

@media screen and (max-height: 590px) {
    .c-section.fullheight {
        min-height: 25em;
        height: 100vh;
    }
}
