.containerColumns {
  width: 100%;
}

.containerColumns>.col, .containerColumns>.space {
  float: left;
  min-height: 1px;
}

@media screen and (max-width: 640px) {
  .containerColumns>.col {
    width: 100% !important;
  }
  .containerColumns>.space {
    display: none;
  }
}
