/* gridelements page sections and column layouts */
.containerSection {
    padding-top: 7em;
    padding-bottom: 7em;
    float: left;
    width: 100%;
    position: relative;
}
.containerSection.bg0 {
    background-position: center center !important;
}
.containerSection.bg1 {
    background-position: left top !important;
}

.containerSection.bg2 {
    background-position: left center !important;
}

.containerSection.bg3 {
    background-position: left bottom !important;
}

.containerSection.bg4 {
    background-position: center top !important;
}

.containerSection.bg5 {
    background-position: center bottom !important;
}

.containerSection.bg6 {
    background-position: right top !important;
}

.containerSection.bg7 {
    background-position: right center !important;
}

.containerSection.bg8 {
    background-position: right bottom !important;
}

.containerSection.fixed {
    background-attachment: fixed !important;
}

.containerSection.has-bg-video {
    background-color: transparent !important;
    overflow: hidden;
}

.containerSection .videobuttons {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-transform: uppercase;
    padding: 0.6em;
    font-size: 0.7em;
    line-height: 1em;
    position: absolute;
    bottom: 3.5em;
    right: 3.5em;
    width: auto;
    z-index: 3;
}

.containerSection .videobuttons:hover {
    cursor: pointer;
}

.containerSection .sound.hasclearframebutton {
    right: 7.5em;
}

.containerSection .videobuttons svg {
    height: 1.5em;
    width: auto;
}

.containerSection .sound .on, .containerSection .clearframe .on {
    display: none;
}

.containerSection .sound .off, .containerSection .clearframe .off {
    display: block;
}

.containerSection .sound.active .on, .containerSection .clearframe.active .on {
    display: block
}

.containerSection .sound.active .off, .containerSection .clearframe.active .off {
    display: none
}

.containerSection .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.containerSection .bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.containerSection.bg1 .bg-video {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.containerSection.bg2 .bg-video {
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.containerSection.bg3 .bg-video {
    left: 0;
    top: 0;
    transform: none;
}

.containerSection.bg4 .bg-video {
    top: 0;
    transform: translateX(-50%);
}

.containerSection.bg5 .bg-video {
    top: 0;
    left: auto;
    right: 0;
    transform: none;
}

.containerSection.bg6 .bg-video {
    left: 0;
    bottom: 0;
    top: auto;
    transform: none;
}

.containerSection.bg7 .bg-video {
    bottom: 0;
    top: auto;
    transform: translateX(-50%);
}

.containerSection.bg8 .bg-video {
    left: auto;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
}

.containerSection.vcenter.fullheight .contentWidth {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.containerSection.nopadding {
    padding: 0;
}

.containerSection.fullwidth .contentWidth {
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: 100% !important;
}

.containerSection.fullheight {
    min-height: 100vh;
}

.containerSection.align-center {
    text-align: center;
}

.containerSection.align-right {
    text-align: right;
}

.containerSection.align-center p, .containerSection.align-center ol, .containerSection.align-center ul, .containerSection.align-center {
    margin: auto;
}

.containerSection.align-right p, .containerSection.align-right ol, .containerSection.align-right ul, .containerSection.align-right {
    margin-left: auto;
}

/* dark and light BG colors are set in template constants */
.containerSection.bg-dark {
    -webkit-font-smoothing: antialiased;
}

.containerSection.bg-black {
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.containerSection p, .containerSection ol, .containerSection ul {
    max-width: 41em;
}

/* custom section classes */
.containerSection.home h1 {
    font-size: 5vw;
}

@media screen and (min-width: 1600px) {
    .containerSection.home h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 1180px) {
    .containerSection.home h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 1024px) {
    .containerSection.fixed {
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 960px) {
    .containerSection {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

@media screen and (max-width: 680px) {
    .containerSection.home h1, h1 {
        font-size: 2.3em;
        line-height: 1.2em;
    }
}

@media screen and (max-width: 520px) {
    .containerSection .videobuttons {
        right: 2.5em;
        bottom: 2.5em;
    }

    .containerSection .sound.hasclearframebutton {
        right: 6em;
    }
}

@media screen and (max-height: 590px) {
    .containerSection.fullheight {
        min-height: 25em;
        height: 100vh;
    }
}
