.c-popup {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    top: 100%;
    transition: top .4s ease-in-out;
    color: #000;
    padding: 5rem 6rem;
}
.c-popup-content {
    max-width: 75.778rem;
}

.c-popup.open {
    top: 0;
}

/* close button */
.c-popup-close {
    width: auto;
    position: fixed;
    cursor: pointer;
    width: 2.3rem;
    height: 2.3rem;
    display: block;
    margin-top: -4rem;
    right: 1rem;
}

.c-popup-close::before, .c-popup-close::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 60%;
    height: 2px;
    background-color: #333;
    left: 20%;
    transition: opacity .3s ease-in-out;
}

.c-popup-close:hover::before, .c-popup-close:hover::after {
    opacity: 0.5;
}

.c-popup-close::before {
    transform: rotate(45deg);
}

.c-popup-close::after {
    transform: rotate(-45deg);
}


@media screen and (max-width: 860px) {
    .c-popup {
        padding: 4rem 1.5rem;
    }
    .c-popup-close {
        right: .55rem;
        margin-top: -3.05rem;
        background: #fff;
    }
}
