.c-columns {
    width: 100%
}
.c-columns>.col,
.c-columns>.space {
    float: left;
    min-height: 1px;
}
@media screen and (max-width:840px) {
    .c-columns>.col, .c-columns>.space {
        width: 100% !important
    }
    .c-columns>.space {
        height: 2rem;
    }
}
