.c-tabs {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.c-tabs-header {
    margin-bottom: 2rem;
}

.c-tabs-title {
    cursor: pointer;
    padding: .5rem 1.5rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom: 4px solid transparent;
    background: none;
    font-weight: bold;
}

.c-tabs-title .iconpack {
    margin-right: .5rem;
}

.c-tabs-title.no-text .iconpack {
    margin-right: 0;
}

.c-tabs-title.act {
    border-bottom: 2px solid black;
}

.c-tabs-content {
    display: none;
}

.c-tabs-content.act {
    display: block;
}

.c-tabs-content h1:first-child,
.c-tabs-content h2:first-child,
.c-tabs-content h3:first-child {
    margin-top: 0;
}
