<f:section name="HeaderAssets">
    <f:render partial="SiemaStyles" arguments="{_all}" />
    <f:render partial="SiemaJavaScript" arguments="{_all}" />
</f:section>
<f:asset.css identifier="siemaStyles">
</f:asset.css>

<div id="c{data.uid}" class="
        frame
        frame-type-container
        c-siema
        {data.tx_containeritems_classes}
        {f:if(condition: '{data.tx_containeritems_siema_style}', then: '{data.tx_containeritems_siema_style}')}
        {f:if(condition: '{data.tx_containeritems_siema_nav}', then: 'has-nav')}
        {f:if(condition: '{data.tx_containeritems_siema_pagination}', then: 'has-pagination')}
        {f:if(condition: '{data.space_before_class}', then: 'frame-space-before-{data.space_before_class}')}
        {f:if(condition: '{data.space_after_class}', then: 'frame-space-after-{data.space_after_class}')}
    ">
    <div id="siema-{data.uid}">
        <f:for each="{children_101}" as="element">
            {element.renderedContent -> f:format.raw()}
        </f:for>
    </div>
    <f:if condition='{children_101 -> f:count()} > 1'>
        <f:render partial="SiemaNavigation" arguments="{_all}" />
    </f:if>
    <f:render partial="SiemaLoader" arguments="{_all}" />
</div>


