{namespace ea=Brightside\Embedassets\ViewHelpers}

<ea:asset.css embed="{settings.cssEmbed}" priority="{settings.accordionCssPriority}" identifier="accordionCss" href="{settings.accordionCssFile}" />

<div id="c{data.uid}" class="
    frame
    frame-default
    frame-container-accordion
    c-accordion{f:if(condition: '{data.space_before_class}', then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: '{data.space_after_class}', then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: '{data.tx_containeritems_a_autocollapse}', then: ' autocollapse')}{f:if(condition: '{data.tx_containeritems_classes}', then: ' {data.tx_containeritems_classes}')}">
    <f:for each="{children_101}" as="element" iteration="iterator">
        <div class="c-accordion-item  {f:if(condition: '{data.tx_containeritems_a_firstopen} && {iterator.isFirst}', then: 'act')}">
            <button id="header-{element.uid}" aria-controls="section-{element.uid}" class="c-accordion-title{f:if(condition: '!{element.header}', then: ' no-text')}" aria-expanded="{f:if(condition: '{data.tx_containeritems_a_firstopen} && {iterator.isFirst}', then: 'true', else: 'false')}">
                <f:if condition="{element.header}"><span class="c-accordion-title-text">{element.header}</span></f:if>
            </button>
            <div id="section-{element.uid}" aria-labelledby="header-{element.uid}" role="region" class="c-accordion-content">
			      {element.renderedContent -> f:format.raw()}
                  <div class="clear"></div>
            </div>
        </div>
	</f:for>
</div>
<ea:asset.script embed="1" identifier="containerAccordion" src="EXT:containeritems/Resources/Public/JavaScript/container-accordion.js" />
