{namespace ea=Brightside\Embedassets\ViewHelpers}
<ea:asset.css embed="{settings.cssEmbed}" priority="{settings.popupCssPriority}" identifier="popupCss" href="{settings.popupCssFile}" />

<div id="{f:if(condition: '{data.tx_containeritems_customid}', then: '{data.tx_containeritems_customid}', else: 'c{data.uid}')}" role="dialog" class="
    frame
    frame-default
    frame-container-popup
    c-popup{f:if(condition: '{data.space_before_class}', then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: '{data.space_after_class}', then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: '{data.tx_containeritems_classes}', then: ' {data.tx_containeritems_classes}')}">
    <button class="c-popup-close" autofocus name="{f:if(condition: '{data.tx_containeritems_customid}', then: '{data.tx_containeritems_customid}', else: 'c{data.uid}')}" aria-label="Close"></button>
    <div class="c-popup-content contentWidth">
        <f:for each="{children_101}" as="element">
            {element.renderedContent -> f:format.raw()}
        </f:for>
        <div style="clear:both"></div>
    </div>
</div>

<ea:asset.script embed="1" identifier="containerPopup" src="EXT:containeritems/Resources/Public/JavaScript/container-popup.js" />
