{namespace ea=Brightside\Embedassets\ViewHelpers}
<ea:asset.css embed="{settings.cssEmbed}" priority="{settings.boxCssPriority}" identifier="boxCss" href="{settings.boxCssFile}" />

<div id="c{data.uid}" class="
    frame
    frame-type-container
    c-box{f:if(condition: '{data.tx_containeritems_classes}', then: ' {data.tx_containeritems_classes}')}{f:if(condition: '{data.space_before_class}', then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: '{data.space_after_class}', then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: '{data.tx_containeritems_b_style}', then: ' {data.tx_containeritems_b_style}')}">
    <f:for each="{children_101}" as="element">
        {element.renderedContent -> f:format.raw()}
    </f:for>
</div>
