<f:variable name="spaceWidthSum">{spaceWidth * 2}</f:variable>
<f:variable name="colWidth">{100 - spaceWidthSum / 3}</f:variable>

<div id="c{data.uid}" class="frame frame-type-container containerColumns {data.tx_containeritems_classes} containerColumns-1-1-1 {f:if(condition: '{data.space_before_class}', then: 'frame-space-before-{data.space_before_class}')} {f:if(condition: '{data.space_after_class}', then: 'frame-space-after-{data.space_after_class}')}">
    <div class="col col-1" style="width: {colWidth}%">
        <f:for each="{children_101}" as="element">
			{element.renderedContent -> f:format.raw()}
		</f:for>
	</div>
    <div class="space" style="width: {spaceWidth}%"></div>
    <div class="col col-2" style="width: {colWidth}%">
        <f:for each="{children_102}" as="element">
			{element.renderedContent -> f:format.raw()}
		</f:for>
	</div>
    <div class="space" style="width: {spaceWidth}%"></div>
    <div class="col col-3" style="width: {colWidth}%">
        <f:for each="{children_103}" as="element">
			{element.renderedContent -> f:format.raw()}
		</f:for>
	</div>
</div>
